body {
    background-color: #888;
    font-family: 'Roboto Mono', monospace;
}

#canvasDiv {
    margin: 0;
    padding: 0;
    bottom: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#ctrlWrapper {
    left: 0;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#ctrl {
    left: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    padding: 13px 10px 13px 20px;
}

.buttn {
    float: left;
    position: relative;
    height: 119px;
    width: 200px;
    border-radius: 2px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 45px;
    padding-bottom: 5px;
    font-size: 50px;
}

#status {
    margin-left: 30px;
    padding: 20px;
    float: left;
    width: 530px;
    height: 129px;
    background-color: black;
    //text-align: center;
    font-family: monospace;
    font-size: 47px;
    font-weight: lighter;
    color: #8f8;
    text-shadow: -3px 1px green, 1px 3px green, 3px 1px green, 1px -3px green;
    border-radius: 10px;
}

#instruction {
    padding-top: 20px;
}

#timer {
    padding-top: 30px;
    font-size: 50px;
}

#level {
    font-size: 30px;
    float: right;
    padding-top: 50px;
    bottom: 10px;
    right: 10px;

}

.demo {
    float: right;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 30px;
}

#loader {
    border: 20px solid #00ccff; /* Light grey */
    border-top: 20px solid #000099; /* Blue */
    border-radius: 50%;
    width: 190px;
    height: 190px;
    position: fixed;
    right: 0;
    left: 0;
    top: 30%;
    margin-right: auto;
    margin-left: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
