#canvasDiv {
    bottom: 100px;
    width: auto;
    right: 100px;
    left: 100px;
}

#ctrlWrapper {
    right: 100px;
    left: 100px;
    height: 100px;
}

#ctrl {
    left: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    padding: 13px 10px 13px 0px;
}

.buttn {
    height: 50px;
    width: 150px;
    border-radius: 2px;
    color: white;
    padding-top: 20px;
    font-size: 30px;
}

#status {
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
    height: 55px;
    width: 200px;
    background-color: black;
    //text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-weight: lighter;
    color: #8f8;
    text-shadow: -3px 1px green, 1px 3px green, 3px 1px green, 1px -3px green;
    border-radius: 10px;
}

#timer {
    font-size: 27px;
}

.demo {
    float: left;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 10px;
}



