<!doctype html>
<html>
    <head>
        <title>Progress</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Portable chromatic ear training that adapts to your skill level">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        <div id="chart_div"></div>
    </body>
</html> 


