<!doctype html>
<html>
    <head>
        <title>
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
        {% if is_mobile %}
        <link type="text/css" href="{{ url_for('static', filename='css/mobile.css') }}" rel="stylesheet">
        {% else %}
        <link type="text/css" href="{{ url_for('static', filename='css/desktop.css') }}" rel="stylesheet">
        {% endif %}
        {% for f in ['AudioDetect', 'LoadPlugin', 'Plugin', 'Player'] %}
        <script src="{{ url_for('static', filename='js/MIDI.js/js/MIDI/' ~ f ~ '.js') }}"></script>
        {% endfor %}
        {% for f in ['js/Window/DOMLoader.XMLHttp', 'js/Widgets/Loader', 'inc/Base64', 'inc/base64binary'] %}
        <script src="{{ url_for('static', filename='js/MIDI.js/' ~ f ~ '.js') }}"></script>
        {% endfor %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/tinycolor.js') }}"></script>
    </head>
    <body>
        <div id="canvasDiv">
            <canvas style="height: 100%; width: 100%;" id="canvas"></canvas>
        </div>
        <div id="ctrl">
            <a id="startStop" class="buttn">START</a>
            <span id="instruction"></span>
        </div>
    </body>
</html> 

