<!doctype html>
<html>
    <head>
        <title>
        </title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/tinycolor.js') }}"></script>
    </head>
    <body>
        <canvas style="height: 100%; width: 100%;" id="canvas"></canvas>
    </body>
</html> 

